#title {
background-color: blanchedalmond;
}



.color {
    width: 60px;
    height: 60px;
    display:inline-block;
    border: black solid 1px;
    border-radius: 35%;
}

.um {
    background-color: rgb(0, 0, 0);
}

.dois {   
    background-color: rgb(10, 62, 139);    
}

.tres {
    background-color: rgb(40, 150, 82);
}

.quatro {
    background-color: rgb(211, 149, 226);
}

:root {
    --grid-cols: 0;
    --grid-rows: 0;
  }
  
  #pixel-board {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 0fr);
    grid-template-columns: repeat(var(--grid-cols), 0fr);
  }
  
  .pixel {
    width: 40px;
    height: 40px;
    border: black solid 1px;
    display: inline-grid;
   
    
  }