* {
  background-color: rgb(245, 238, 197);
  text-align: center;
  position: initial;
}

#title {
  background-color: rgb(238, 179, 90);
  font-size: 50px;
  border-radius: 50%;
  color: rgb(133, 76, 12);
}

.color {
  width: 80px;
  height: 80px;
  display: inline-block;
  border: black solid 1px;
  border-radius: 50%;
}

.um {
  background-color: rgb(0, 0, 0);
}

.dois {
  background-color: rgb(10, 62, 139);
}

.tres {
  background-color: rgb(40, 150, 82);
}

.quatro {
  background-color: rgb(211, 149, 226);
}


#pixel-board {
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 5fr);
  grid-template-columns: repeat(var(--grid-cols), 0fr);
  margin-left: 44%;
}

.pixel {
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: inline-grid;
}

.clear-board {
  width: 60px;
  height: 60px;
  border: rgb(32, 158, 116) solid 1px;
}

.white {
  background-color: rgb(255, 255, 255);
}

.selected {
  text-align: center;
}
